variables:
  online_url: 'http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/15537/parallel_studio_xe_2019_update4_composer_edition_online.tgz'
  offline_url: 'http://registrationcenter-download.intel.com/akdlm/irc_nas/tec/15537/parallel_studio_xe_2019_update4_composer_edition.tgz'
  url: $(offline_url)
  linux_python: 'python3'
  windows_python: '/c/Miniconda/python'
  windows_image: 'vs2017-win2016'
  linux_image: 'ubuntu-latest'

trigger:
- master

strategy:
  matrix:
    linux_curl:
      imageName: 'ubuntu-latest'
      cmd: curl -s -o x $(url)
    windows_curl:
      imageName: 'vs2017-win2016'
      cmd: curl -s -o x $(url)
    linux_python:
      imageName: 'ubuntu-latest'
      cmd: $(linux_python) speed-test.py --block-size 4 --request $(url)
    windows_python:
      imageName: 'vs2017-win2016'
      cmd: $(windows_python) speed-test.py --block-size 4 --request $(url)
pool:
  vmImage: $(imageName)
steps:
- bash: |
    time $(cmd)
    ls -l